<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<link rel="stylesheet" href="/css/<%= partner.colorScheme %>.css" />
		<title>Custom success page</title>
	</head>
	<body class="min-w-[375px] flex flex-col items-center size-full">
		<div class="container mx-auto py-10 px-4 max-w-4xl">
			<div class="flex flex-col items-center text-center mb-8">
				<div class="rounded-full bg-(--primary-foreground) p-3 mb-4">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="h-12 w-12 text-(--primary)"
					>
						<path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
						<path d="m9 11 3 3L22 4"></path>
					</svg>
				</div>
				<h1 class="text-3xl font-bold mb-2">Оплата прошла успешно!</h1>
			</div>

			<div
				class="rounded-lg border bg-(--card) text-(--card-foreground) shadow-sm"
			>
				<div class="flex flex-col space-y-1.5 p-6">
					<div class="flex flex-col justify-between gap-4">
						<div class="flex flex-1 justify-between">
							<h3
								class="text-2xl font-semibold leading-none tracking-tight"
							>
								Заказ
								<span class="tabular-nums slashed-zero">
									#<%= order.indexNumber %>
								</span>
							</h3>
							<div
								class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-(--ring) focus:ring-offset-2 text-(--foreground) w-fit"
							>
								Оплачен
							</div>
						</div>
						<p class="text-sm text-muted-foreground">
							Дата оплаты: <%= transaction.formattedProcessedAt %>
						</p>
					</div>
				</div>

				<div class="p-6 pt-0 space-y-6">
					<% if (partner.successPageLayout.showOrderDetails) { %>
					<div>
						<h3 class="font-medium mb-2">Информация о заказе</h3>
						<div class="space-y-1 text-sm">
							<p class="font-medium">Описание</p>

							<p class="text-(--muted-foreground)">
								<%= order.description %>
							</p>
						</div>
					</div>
					<% } %>
					<% if (partner.successPageLayout.showPaymentDetails) { %>
					<div>
						<h3 class="font-medium mb-2">Информация о платеже</h3>
						<div class="space-y-1 text-sm">
							<p class="font-medium">Кредитная карта</p>

							<p class="text-(--muted-foreground)">
								Банк:
								<span><%= transaction.cardType %></span>
							</p>
							<p class="text-(--muted-foreground)">
								Последние 4 цифры:
								<span class="tabular-nums slashed-zero">
									<%= transaction.cardNumberLastDigits %>
								</span>
							</p>
						</div>
					</div>
					<% } %>

					<div
						role="none"
						class="shrink-0 bg-(--border) h-[1px] w-full"
					></div>

					<div class="space-y-2">
						<div class="flex justify-between text-sm">
							<span>Сумма</span>
							<span class="tabular-nums slashed-zero">
								<%= transaction.formattedAmount %>
							</span>
						</div>
						<% if (order.needCommission === true) { %>
						<div class="flex justify-between text-sm">
							<span>Комиссия</span>
							<span class="tabular-nums slashed-zero">
								<%= transaction.formattedCommission %>
							</span>
						</div>
						<% } %>

						<div
							role="none"
							class="shrink-0 bg-(--border) h-[1px] w-full"
						></div>

						<div class="flex justify-between font-medium">
							<span>Итого</span>
							<span class="tabular-nums slashed-zero">
								<%= transaction.formattedTotalAmount %>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-col sm:flex-row justify-center gap-4 mt-8">
				<a
					href="<%= partner.successPageRedirectUri %>"
					class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-(--ring) focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-(--input) bg-(--background) hover:bg-(--accent) hover:text-(--accent-foreground) h-10 px-4 py-2"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="mr-2 h-4 w-4"
					>
						<path d="m12 19-7-7 7-7"></path>
						<path d="M19 12H5"></path>
					</svg>
					Вернуться на сайт
				</a>
			</div>
		</div>
	</body>
</html>
